<custom-header name="Liste des produits"> </custom-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row *ngFor="let item of data; trackBy : trackByFn">
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-no-padding">
            <ion-row>
              <ion-col class="ion-padding">
                <img
                  src="https://d1fmx1rbmqrxrr.cloudfront.net/cnet/i/edit/2020/05/applis-retouche-android-ios-big.jpg"
                  alt="image produit"
                />
              </ion-col>
              <ion-col class="ion-padding">
                <ion-row>
                  <ion-col>
                    <span class="font-14 text-bold"> {{item.libelle}} </span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <span class="font-12"> {{item.scateg}} </span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <span class="font-12"> {{item.code}}</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <span [ngClass]="item.stock > 0 ? 'text-green':'text-red'">
                      {{item.stock}}
                    </span>
                    <ion-icon
                      *ngIf="item.stock>0"
                      color="success"
                      name="home-outline"
                    ></ion-icon>
                    <ion-icon
                      *ngIf="item.stock<=0"
                      color="danger"
                      name="home-outline"
                    ></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <span class="font-16 before-digit">
                      {{formatNumberBeforeDigit(item.pv)}},
                    </span>
                    <span class="font-10 after-digit">
                      {{formatNumberAfterDigit(item.pv)}} DT
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button color="success">
                      <ion-icon slot="start" name="cart"></ion-icon>
                      Ajouter
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
